body {
    margin:0;
    padding:0;
    font-family: "Inter", sans-serif;
    background: linear-gradient(#5e2754, #c42e2e);
    line-height: 1.5; min-height: 100vh; display: flex;
    align-items: center;
    justify-content: center;
}