.footer-basic {
  padding:0px 0;
  background: linear-gradient(#5e2754, #c42e2e);
  color:rgb(255, 255, 255);
  width: 100%;
  top: 45%;
  position: relative;
  padding-bottom: 10px;
  padding-top: 25px;
}
  
.footer-basic .social {
  text-align:center;
}

.footer-basic .social > a {
  font-size:30px;
  width:50px;
  height:50px;
  line-height:50px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid aliceblue;
  margin:0 0px;
  color:inherit;
  opacity:0.75;
  margin-left: 300px;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:20px;
  text-align:center;
  font-size:13px;
  color:aliceblue;
  margin-bottom: 0px;
}

.social {
  margin-right: 300px;
}