header {
    background-color: #2b2e38;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-top: 5px;
  }
  
  nav li {
    display: inline-block;
  }
  
  nav li.left {
    float: left;
  }
  
  nav li.right {
    float: right;
  }
  
  nav li a {
    display: block;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  nav li a:hover {
    background-color: #555;
  }
  
  .logo {
    margin-top: -3%;
    margin-left: -50%;
    width: 10%;
  }
  
  