body {
    margin:0;
    padding:0;
    background: linear-gradient(#5e2754, #c42e2e);
    line-height: 1.5; min-height: 100vh; display: flex;
    align-items: center;
    justify-content: center;
}


.containerorder {
    height: 85%;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 40px;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    background-color: transparent;
}
  
.titreorder {
  position: absolute;
  top: 6%;
  left: 50%;
  width: 100%;
  padding: 30px;
  transform: translate(-50%, -50%);
  font-family: "OCR A Std", monospace;
  font-size: 2em;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
  font-weight: bold;
  letter-spacing: -2px;
  text-decoration: underline;
  background-color: #5c0d35;
}
  
.contenueorder {
  height: 80%;
  width: 90%;
  position: absolute;
  top: 55%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%);
  border: none;
  font-family: "OCR A Std", monospace;
  font-size: 1.75em;
  text-align: center;
  letter-spacing: -2px;
  margin-top: 10%
}

.scrn {
    background-color: transparent;
    cursor: pointer;
    border: none;
    text-decoration: underline;
    font-weight: bold;
    letter-spacing: -2px;
}